.div-ok {
  font-size: 3rem;
  padding: 1rem;
  font-family: "Chinese Rocks Rg", sans-serif;
}

.info-carga {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  background: #2c2c2c;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #f0f0f0;
  text-align: center;
  gap: 1rem;
}

.carga-producto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #383838;
}

.carga-producto p {
  text-align: center;
  font-size: 1.5rem;
}
