.header {
  background-color: black; /* Color fondo */

  display: flex; /* Usamos flexbox para el header (formato linea)*/
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center; /* Centrado vertical */

  border-bottom: 1px solid rgb(54, 54, 54); /* Linea inferior */

  position: relative;
  z-index: 20;
}

.header-logo {
  display: flex; /* Usamos flexbox para el logo y el texto (formato linea) */
  align-items: center; /* Centrado vertical */
  justify-content: left; /* Centrado horizontal */
}

.header-logo img {
  width: 4rem; /* Ancho de la imagen */
  height: auto; /* La altura se ajusta automáticamente */
  margin-left: 1.5rem; /* Espaciado interno */
}

.header-logo a {
  font-family: "Chinese Rocks Rg", sans-serif; /* Fuente personalizada */
  font-size: 4rem; /* 40px */
  text-decoration: none; /* Quita el subrayado */
  color: white; /* Color del texto */
  margin-left: 1.5rem; /* Margen izquierdo */
}
